<extend name="Base/common"/>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/UserCenter/index.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/UserCenter/modifypassword.css"/>
</block>

<block name="js">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
</block>

<block name="body">
    <include file="index"/>

    <div class="info_body">
        <form action="{:U('UserCenter/modifyPasswordAjax')}" method="post">
            <div class="info_body_block">
                <label>原密码：</label>
                <input type="password" name="old_pwd" autocomplete="off"/>
            </div>
            <div class="info_body_block">
                <label>新密码：</label>
                <input type="password" name="new_pwd" autocomplete="off"/>
            </div>
            <div class="info_body_block">
                <label>确认密码：</label>
                <input type="password" name="re_pwd" autocomplete="off"/>
            </div>
            <div class="info_body_block">
                <button type="submit">确 认</button>
            </div>
        </form>
    </div>

    <div class="clear_div"></div>
</block>

<block name="script">
    <script type="text/javascript">
        $("form").submit(function () {
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data) {
                console.log(data);
                if (data.res != 1) {
                    alert(data.info);
                } else {
//                    self.find(".check_tips").text(data.info);
                    alert(data.info);
                }
            }
        });
    </script>
</block>