/*用户中心修改密码页面样式表*/

.info_body {
    width: 850px;
    height: 500px;
    border-width: 1px 0px;
    border-color: lightgray;
    border-style: solid;
    float: right;
    text-align: center;
}

.info_body_block {
    font-size: 18px;
    margin: 20px auto;
}