/*用户信息中心页面样式表*/

.user_info {
    width: 850px;
    height: 500px;
    border-width: 1px 0px;
    border-color: lightgray;
    border-style: solid;
    float: right;
}

.usr_info_block {
    margin: 10px 0px 0px 10px;
}

.usr_info_block label {
    padding: 2px;
    color: white;
    background-color: lightgrey;
}