<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>动态权限</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('DynamicAuth/add')}">申 请</a>
            <a url="{:U('DynamicAuth/recycle')}" class="btn ajax-post" target-form="ids" >回 收</a>
        </div>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">编号</th>
                <th class="">申请用户</th>
                <th class="">执行用户</th>
                <th class="">申请时间</th>
                <th class="">处理时间</th>
                <th class="">申请状态</th>
                <th class="">权限有效</th>
                <th class="">详情</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.id}</td>
                        <td>{$vo.applicant}</td>
                        <td>{$vo.performer}</td>
                        <td><span>{$vo.application_date}</span></td>
                        <td><span>{$vo.deal_time}</span></td>
                        <td><span>{$vo.status}</span></td>
                        <td><span>{$vo.valid}</span></td>
                        <td>
                            <a href="{:U('DynamicAuth/detail?id='.$vo['id'])}">详情</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
